<html>
<head>
	<title>CIF Instagram Admin UI</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	  <!-- <iframe src={{iframe_url}}></iframe> -->
	  <!-- <iframe width="420" height="315" src={{iframe_url}} frameborder="0" allowfullscreen></iframe> -->
	  <!-- <a href="{{iframe_url}}"></a> -->
	  <div class="col-md-12" style="margin-top: 20px;">
	  	<a href="{{iframe_url}}" class="btn btn-info" role="button">Authorize me</a>
	  </div>
	  <div class="col-md-12" style="margin-top: 10px;">
	  	<label>Click button above first to get the access token, and then put the code down below..</label>
	  </div>
	  <div class="col-md-12">
	  	<form action="./auth/" method="POST">
			<div class="form-group">
				{{form}}
			</div>
			<button type="submit" class="btn btn-default">Authorize</button>
		</form>
	  </div>
	</div>
</body>
</html>