<html>
<head>
	<title>CIF Telegram Admin UI</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	  <h2>Telegram Integeration Admin</h2>
	  <p>These followings data will be sent to Zendesk, please click 'Submit' to send..</p>
	  <form action="{{return_url}}" method="POST">
	  	{{form}}
	    <button type="submit" class="btn btn-default" style="margin-top: 10px;">Submit</button>
	  </form>
	</div>
</body>
</html>