<html>
  <body>
      <div class="alert alert-danger">
      </div>
    <div class="panel panel-default">
      <div class="panel-heading">Telegram Channel Account Settings</div>
      <div class="panel-body">
        <form id="account-form" method="POST" action="submitmeta">
          <div class="form-group">
            <label for="name">Url:</label>
            <input class="form-control" type="text" name="name" value="">
          </div>
          <div class="form-group">
            <label for="channel_id">Token:</label>
            <input class="form-control" type="text" name="token" value="">
          </div>
          <input type="hidden" name="metadata" value="" />
          <input type="hidden" name="state" value="">
          <input type="hidden" name="return_url"  th:value="${returnUrl}">
          <input class="btn btn-default" type="submit" value="Submit"/>
        </form>
      </div>
    </body>
  </div>
</html>