<!DOCTYPE html>
<html>
<head>
	<title>CIF Telegram Admin UI</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
	  <h2>Telegram Integeration Admin</h2>
	  <p>Please input your credentials..</p>
	  <form action="send_metadata" method="POST">
	    <div class="form-group">
	      <label for="your_name">Api id:</label>
	      <input type="text" class="form-control" id="your_name">
	    </div>
	    <!-- <div class="form-group">
	      <label for="usr">Api Hash:</label>
	      <input type="text" class="form-control" id="api_hash">
	    </div>
	    <div class="form-group">
	      <label for="usr">Account Telephone Number</label>
	      <input type="text" class="form-control" id="number">
	    </div> -->
	    <button type="submit" class="btn btn-default">Submit</button>
	  </form>
	</div>
</body>
</html>